.main {
    margin: 40px auto;
    max-width: 625px;
}

.main > section {
    padding: var(--content-padding) var(--spacing);
    animation: fadeIn 0.5s ease;
}

.main > section > h1 {
    font-size: 38px;
    font-weight: 700;
    color: var(--fg-1);
    margin-bottom: 40px;
}

.main > section > p {
    font-size: 20px;
    font-weight: 400;
    color: var(--fg-2);
    line-height: 1.75;
    margin: 0 auto;
    margin-bottom: 40px;
}

.amount {
    margin: 40px 0;
}

.amount > input {
    width: 100%;
}

@media screen and (max-width: 920px) {
    .main > section > h1 {
        font-size: clamp(32px, 5vw, 48px);
    }

    .main > section > p {
        font-size: clamp(16px, 3vw, 18px);
    }
}

@media screen and (max-width: 768px) {
    .main {
        margin: 80px auto;
    }
}

@keyframes fadeIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
