.container {
    position: relative;
    display: none;
}

.container > button {
    padding: 4px;
    background-color: var(--bg-2);
    border: none;
    margin-left: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    border-radius: var(--radius);
}

.container > button:hover,
.container > button:focus-visible {
    background-color: var(--bg-3);
}

.container > button:active {
    filter: brightness(0.95);
}

.links {
    position: absolute;
    top: calc(100% + 12px);
    right: 0;
    background-color: var(--bg-2);
    border: 1px solid var(--border-0);
    border-radius: 4px;
    padding: 8px;
    width: 250px;
}

.links a {
    display: block;
    padding: 16px;
    color: var(--fg-1);
    text-decoration: none;
    transition: none;
    border-radius: var(--radius);
    user-select: none;
}

.links a:hover,
.links a:focus-visible {
    background-color: var(--bg-3);
}

.links a:active {
    filter: brightness(1.15);
}

@media screen and (max-width: 768px) {
    .container {
        display: block;
    }
}
