.main {
    margin: 120px auto;
    max-width: var(--max-width);
}

.main > section {
    animation: fadeIn 0.5s ease;
    padding: var(--content-padding) var(--spacing);
}

.main > section:not(:last-child) {
    margin-bottom: 120px;
}

.main > section > h1,
.main > section > h2 {
    font-size: 42px;
    font-weight: 700;
    color: var(--fg-1);
    margin-bottom: 20px;
}

.main > section > p {
    font-size: 20px;
    font-weight: 400;
    color: var(--fg-2);
    line-height: 1.75;
    max-width: 70%;
    margin: 0 auto;
}

.main > section > p > a {
    color: var(--primary);
}

.centered > h1,
.centered > h2,
.centered > p {
    text-align: center;
}

.socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.socials > a,
.socials > button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    color: var(--fg-1);
    background-color: transparent;
    border-radius: 50%;
    margin: 0 20px 20px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    z-index: 0;
}

.socials > a::after,
.socials > button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background-color: var(--bg-3);
    transition: transform 0.15s ease, filter 0.15s ease;
    z-index: -1;
}

.socials > a:hover::after,
.socials > a:focus-visible::after,
.socials > button:hover::after,
.socials > button:focus-visible::after {
    transform: scale(0.9);
}

.socials > a:active,
.socials > button:active {
    filter: brightness(1.15);
}

.socials > a > svg,
.socials > button > svg {
    width: 30px;
    height: 30px;
    fill: currentColor;
}

@media screen and (max-width: 768px) {
    .main {
        margin: 80px auto;
    }

    .main > section > h1,
    .main > section > h2 {
        font-size: clamp(32px, 5vw, 42px);
    }

    .main > section > p {
        font-size: clamp(16px, 3vw, 20px);
        max-width: 90%;
    }
}

@media screen and (max-width: 576px) {
    .socials > a,
    .socials > button {
        width: 60px;
        height: 60px;
        margin: 0 10px 10px;
    }
}

@keyframes fadeIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
