.scrollDown {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 40px auto;
    width: fit-content;
    border-radius: 1000px;
    color: var(--primary-fg);
    background-color: var(--primary-20);
    position: relative;
    transition: var(--transition);
}

.scrollDown:hover,
.scrollDown:focus-visible {
    filter: brightness(1.5);
}

.scrollDown > svg {
    position: relative;
    z-index: 1;
}

.scrollDown > div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1000px;
    background-color: var(--primary);
    animation: pulse 1.5s infinite;
    z-index: 0;
}

@keyframes pulse {
    0% {
        opacity: 0;
        transform: scale3d(0.4, 0.4, 0.4);
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
        transform: scale3d(1.5, 1.5, 1.5);
    }
}
