.main {
    max-width: 550px;
    margin: 0 auto;
}

.main > section > h1 {
    margin-bottom: 20px;
    font-size: 38px;
    font-family: sans-serif;
    line-height: 2;
}

.main > section > p {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.75;
}

.main > section > input {
    width: 100%;
}
