.container {
    display: flex;
    align-items: center;
    position: relative;
}

.container > button {
    background-color: var(--bg-2);
    color: var(--fg-1);
    border: none;
    padding: 6px;
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    transition: var(--transition);
    user-select: none;
}

.container > button:hover,
.container > button:focus-visible {
    background-color: var(--bg-3);
}

.container > button:active {
    filter: brightness(0.95);
}

.container > button > img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    pointer-events: none;
}

.languages {
    padding: 6px;
    position: absolute;
    top: calc(100% + 12px);
    right: 0;
    width: 100%;
    background-color: var(--bg-2);
    border-radius: var(--radius);
    border: 1px solid var(--border);
}

.languages a {
    display: flex;
    padding: 4px 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius);
}

.languages a:hover,
.languages a:focus-visible {
    background-color: var(--bg-3);
}

.languages > li:first-child > a {
    margin-bottom: 8px;
}

.languages img {
    width: 20px;
    height: 20px;
    user-select: none;
    pointer-events: none;
}
